# Web Framework
fastapi
uvicorn[standard]
python-multipart

# Database
sqlalchemy
psycopg2-binary
python-dotenv

# DI Container
dependency-injector

# Validation & Serialization
pydantic
pydantic-settings
email-validator

# Security
python-jose[cryptography]
passlib[bcrypt]
bcrypt
argon2-cffi

# Utils
python-dateutil
structlog
regex
alembic

# gRPC
grpcio==1.80.0
grpcio-tools==1.80.0
grpcio-health-checking==1.80.0
googleapis-common-protos[grpc]>=1.56.0
protobuf==6.33.6

