# Web Framework
fastapi
uvicorn[standard]
python-multipart

# Database
sqlalchemy
psycopg2-binary
python-dotenv

# DI Container
dependency-injector

# Validation & Serialization
pydantic
pydantic-settings
email-validator

# gRPC (ДЛЯ ИНТЕГРАЦИИ С USER_SERVICE)
grpcio
grpcio-tools


# Utils
python-dateutil
structlog
regex
alembic
aio-pika
